[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
